<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>tutorial-5: CV</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div class="fluid">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4" th:text="${header}"/>
        </div>
    </div>
    <div class="container">
        <div class="container mr-5 ml-5">
            Hello! Welcome to my CV page! My name is Danny August Ramaputra. I was born on the 7th of August 1999, at Bekasi. I am currently residing in a rented apartment nearby my campus at Depok. I am currently a student at the University of Indonesia in the Faculty of Computer Science.
            <div class="mt-5"></div>
            <table class="table">
            <tr><th>Year</th><th>Education</th><th>Details</th></tr>
            <tr><td>2017</td><td>University of Indonesia</td><td>Faculty of Computer Science</td></tr>
            <tr><td>2014</td><td>Highfield High School</td><td>Sciences Stream</td></tr>
            <tr><td>2011</td><td>Highfield Secondary School</td><td>Sciences Stream</td></tr>
        </div>
    </table>
    <div/>
</div>
</body>
</html>
