<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>tutorial-5: To-Do</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>g
<div class="fluid">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">To-Do List</h1>
        </div>
    </div>
    <div class="container">
        <div class="container mr-5 ml-5">
            <div class=" alert-area mt-5"></div>
            <form class="form-inline todo-entry">
                <label class="sr-only" for="inlineFormInputName2">Todo</label>
                <input required type="text" class="form-control mb-2 mr-sm-2 todo-input" id="inlineFormInputName2" placeholder="I'm going to ...">
                <button type="submit" class="btn btn-primary mb-2 submit-btn">Submit</button>
            </form>
            <div class="todo-area">
                <div class="card mb-2" th:each="item: ${todo}">
                    <div class="card-body" th:text="${item.getContent()}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="script/script.js"></script>
</body>
</html>
